<div class="footer__title h4">
  {%- if block.settings.title == blank -%}
    {{ linklists[block.settings.menu].title }}
  {%- else -%}
    {{ block.settings.title }}
  {%- endif -%}
</div>

<ul class="footer__menu">
  {%- for link in linklists[block.settings.menu].links -%}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {%- endfor -%}
  {%- if block.settings.enable_account_link -%}
    <li><a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a></li>
  {%- endif -%}
</ul>
