{%- liquid
  assign dark_search_bg = true
  assign lightness = settings.color_header_search | color_brightness

  if lightness > 100
    assign dark_search_bg = false
  endif
-%}

<form action="{{ routes.search_url }}" method="get" role="search"
  class="site-header__search-form" data-dark="{{ dark_search_bg }}">
  <input type="hidden" name="type" value="{{ settings.search_type }}">
  <input type="hidden" name="options[prefix]" value="last">
  <label for="headerSearchInput" class="visually-hidden">{{ 'general.search.placeholder' | t }}</label>
  <input type="search" name="q" id="headerSearchInput" value="{{ search.terms | escape | replace: '*', '' }}" placeholder="{{ 'general.search.placeholder' | t }}" class="site-header__search-input">
  <label for="search-icon" class="hidden-label">{{ 'general.search.submit' | t }}</label>
  <label for="search-close" class="hidden-label">{{ 'general.accessibility.close' | t }}</label>
  <button type="submit" id="search-icon" class="text-link site-header__search-btn site-header__search-btn--submit">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>

  <button type="button" id="search-close" class="text-link site-header__search-btn site-header__search-btn--cancel">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/></svg>
    <span class="icon__fallback-text">{{ 'general.accessibility.close' | t }}</span>
  </button>
</form>
