<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
          {% comment %} <div class="order-note">
            'If your order is time sensitive, we suggest you select a delivery date that is 1 day earlier than you need your flowers, in case of any rare courier delays. - Team BOKAY"
          </div> {% endcomment %}
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    {% if checkout.attributes['Delivery Date'] != blank %}
      <script>
        var method = document.querySelector('[data-shipping-method-label-title="FedEx Priority Delivery® arriving on Delivery Date"]')
        if (method) {
          method.innerHTML = method.innerHTML.replace('Delivery Date', {{ checkout.attributes['Delivery Date'] | json }})
        } 
      </script>
    {%  else %}
      <script>
      if (confirm("You haven't selected the Delivery Date. You will be redirected to cart") == true) {
        location.href = '/cart'
      } else {
        location.href = '/cart'
      }
      </script>
    {% endif %}

  </body>
</html>
