<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="stylesheet" href="{{ 'country-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}

  {%- render 'font-face' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  {%- render 'css-variables' -%}

  {%- liquid
    assign enableSuperScript = false
    unless shop.money_format contains 'money' or shop.money_format contains '.'
      if settings.superscript_decimals
        if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}'
          assign enableSuperScript = true
        elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}'
          assign enableSuperScript = true
        endif
      endif
    endunless
  -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      collections: "{{ routes.collections_url }}",
      cart: "{{ routes.cart_url | append: '.js' }}",
      cartPage: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
      cartChange: "{{ routes.cart_change_url | append: '.js' }}",
      search: "{{ routes.search_url }}"
    };

    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
      oneStockLabel: {{ 'products.product.stock_label.one' | t: count: '[count]' | json }},
      otherStockLabel: {{ 'products.product.stock_label.other' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
      searchCollections: {{ 'general.search.collections' | t | json }},
      searchPages: {{ 'general.search.pages' | t | json }},
      searchArticles: {{ 'general.search.articles' | t | json }},
      maxQuantity: {{ 'cart.general.max_quantity' | t: quantity: '[quantity]', title: '[title]' | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      productImageSize: {{ settings.product_grid_image_size | json }},
      productImageCover: {{ settings.product_grid_image_fill }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      superScriptSetting: {{ settings.superscript_decimals }},
      superScriptPrice: {{ enableSuperScript }},
      quickView: {{ settings.quick_shop_enable }},
      quickAdd: {{ settings.quick_add_enable }},
      themeName: 'Fetch',
      themeVersion: "1.0.2",
      imageBreathingRoom: {{ settings.product_grid_image_margin | json }}
    };
  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>



  {{ content_for_header }}

  <script src="{{ 'vendor-scripts-v2.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if request.design_mode %}
    <script src="https://api.archetypethemes.co/design-mode.js" defer="defer"></script>
  {% endif %}

  <script src="{{ 'jquery.datetimepicker.full.min.js' | asset_url }}"></script>
  
  <script>
    deliveryDate = function() {
      if ($('#deliveryDate').length) {
        var now = new Date(new Date().toLocaleString("en-US", {timeZone: "America/New_York"}));
        hours = now.getHours()
        day = now.getDay()
        offset = 0

        if (day == 1 || day == 2 || day == 3 || day == 4) {
          if (hours < 12) {
            offset = 1
          } else {
            if (day == 5) {
              offset = 4
            } else {
              offset = 2
            }
          }
        }

        if (day == 5) { offset = 4 }
        if (day == 6) { offset = 3 }
        if (day == 0) { offset = 2 }

        {% capture disabledDates %}
          {% assign dates = settings.delivery_date_disabled | newline_to_br | split: '<br />' %}
          {% for d in dates %}'{{ d }}',{% endfor %}
        {% endcapture %}

        {% assign delivery_date = cart.attributes['Delivery Date'] %}
        {% assign delivery_date_arr = delivery_date  | split: '/' %}
        {% if delivery_date_arr.size > 0 %}
          {% assign now = 'now' | date: '%s' %}
          {% assign month = delivery_date_arr[0] %}
          {% assign day = delivery_date_arr[1] %}
          {% assign year = delivery_date_arr[2] %}
          {% if month.size == 1 %}{% assign month = '0' | append: month %}{% endif %}
          {% if day.size == 1 %}{% assign day = '0' | append: day %}{% endif %}
          {% assign ddd = year | append: '-' | append: month | append: '-' | append: day | date: '%s' %}

          {% if ddd < now %}
            {% assign delivery_date = nil %}
          {% endif %}
        {% endif %}

        $('#deliveryDate #c').datetimepicker({
          {% if delivery_date %}
          defaultDate: {{ delivery_date | json }},
          {% endif %}
          timepicker:false,
          format:'m/d/Y',
          formatDate:'m/d/Y',
          minDate: now.setDate(now.getDate() + offset),
          disabledWeekDays: [0,1],
          closeOnDateSelect: true,
          monthChangeSpinner: false,
          scrollMonth: false,
          disabledDates: [{{ disabledDates | strip | strip_newlines }}],
          onSelectDate: function(d) {
            $.post('/cart/update.js', {
              attributes: {
                'Delivery Date': d.toLocaleDateString("en-US")
              }
            });
            $('#delivery-not-selected').hide()
            $('.btn[name="checkout"]').removeAttr('disabled')
          }
        });

        {% if delivery_date %}
          setTimeout(function() {
            $('.xdsoft_date:not(.xdsoft_disabled)').first().click()
          }, 100)
        {%  endif %}
      }
    }
  </script>

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-transitions="{{ settings.animate_page_transitions }}" data-button_style="{{ settings.button_style }}" data-edges="{{ settings.roundness }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" data-grid-style="{{ settings.product_grid_style }}">

  {% if settings.animate_page_transitions %}
    <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">
      {%- sections 'header-group' -%}
      {%- sections 'popup-group' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- sections 'footer-group' -%}
    </div>
  </div>

  {%- liquid
    render 'video-modal'
    render 'photoswipe-template'
    if settings.quick_add_enable
      render 'quick-add-modal'
    endif
    render 'tool-tip'
  -%}
  <div id="ProductModals"></div>

  {% comment %} Image markup used when building product grid item via JS {% endcomment %}
  <template id="naturalImageMarkup">
    <div class="image-wrap" style="height: 0;">
      <img class="grid-product__image" width height src srcset loading="lazy" alt>
    </div>
  </template>
  <template id="fixedRatioImageMarkup">
    <div class="grid__image-ratio">
      <img width height src srcset loading="lazy" alt>
    </div>
  </template>
  <template id="articleImageMarkup">
    <img width height src loading="lazy">
  </template>
 {% include 'smile-initializer' %}

 <script>
  $(document).ready(function() {
    deliveryDate();
  })
 </script>

</body>
</html>
