{%- unless section.settings.full_width -%}
  <div class="page-width hero--padded">
{%- endunless -%}

  {% style %}
    .hero--{{ section.id }} {
      height: {{ section.settings.height }}px;
    }

    @media screen and (max-width: 768px) {
      .hero--{{ section.id }} {
        height: {{ section.settings.height_mobile }}px;
      }
    }
  {% endstyle %}

  <div
    data-section-id="{{ section.id }}"
    data-section-type="slideshow-section"
    data-immediate-load>

    {%- if section.blocks.size > 0 -%}
      <div class="slideshow-wrapper">
        {%- if section.settings.autoplay and section.settings.style == 'bars' and section.blocks.size > 1 -%}
          {%- style -%}
            [data-bars][data-autoplay="true"] .flickity-page-dots .dot:after {
              animation-duration: {{ section.settings.autoplay_speed | times: 1000 }}ms;
            }
          {%- endstyle -%}

          <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
            <span class="slideshow__pause-stop">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pause" viewBox="0 0 10 13"><g fill="#000" fill-rule="evenodd"><path d="M0 0h3v13H0zM7 0h3v13H7z"/></g></svg>
              <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
            </span>
            <span class="slideshow__pause-play">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
              <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
            </span>
          </button>
        {%- endif -%}

        <div id="Slideshow-{{ section.id }}"
          class="hero hero--{{ section.id }} loading loading--delayed"
          data-autoplay="{{ section.settings.autoplay }}"
          data-speed="{{ section.settings.autoplay_speed | times: 1000 }}"
          {% if section.settings.style == 'arrows' %}
            data-arrows="true"
          {% endif %}
          {% if section.settings.style == 'dots' %}
            data-dots="true"
          {% endif %}
          {% if section.settings.style == 'bars' %}
            data-dots="true"
            data-bars="true"
          {% endif %}
          data-slide-count="{{ section.blocks.size }}">
          {%- for block in section.blocks -%}
            <div
              {{ block.shopify_attributes }}
              class="slideshow__slide slideshow__slide--{{ block.id }}"
              data-index="{{ forloop.index0 }}"
              data-id="{{ block.id }}">
              {%- style -%}
                .slideshow__slide--{{ block.id }} .hero__title {
                  font-size: {{ block.settings.title_size | times: 0.43 }}px;
                }
                @media only screen and (min-width: 769px) {
                  .slideshow__slide--{{ block.id }} .hero__title {
                    font-size: {{ block.settings.title_size }}px;
                  }
                }
              {%- endstyle -%}

              <div class="hero__sidebyside hero__sidebyside-text--{{ block.settings.text_position }} color-scheme-{{ block.settings.color_scheme }}">
                {%- if block.settings.indent_image -%}
                  {%- if block.settings.color_scheme != 'none' -%}
                    {%- render 'color-scheme-texture', color_scheme: block.settings.color_scheme -%}
                  {%- endif -%}
                {%- endif -%}
                <div class="hero__sidebyside-content">
                  <div class="hero__sidebyside-content-inner{% if block.settings.indent_image %} hero__sidebyside-content-inner--indented{% endif %} small--text-center">
                    {%- unless block.settings.indent_image -%}
                      {%- if block.settings.color_scheme != 'none' -%}
                        {%- render 'color-scheme-texture', color_scheme: block.settings.color_scheme -%}
                      {%- endif -%}
                    {%- endunless -%}
                    {%- unless block.settings.top_subheading == blank -%}
                      <div class="hero__top-subtitle">
                        <div class="hero__animation-contents">
                          {{ block.settings.top_subheading | escape }}
                        </div>
                      </div>
                    {%- endunless -%}
                    {%- unless block.settings.title == blank -%}
                      <h2 class="h1 hero__title">
                        <div class="hero__animation-contents">
                        {{ block.settings.title | newline_to_br }}
                        </div>
                      </h2>
                    {%- endunless -%}
                    {%- if block.settings.subheading or block.settings.link or block.settings.link_2 -%}
                      {%- unless block.settings.subheading == blank -%}
                        <div class="hero__subtitle">
                          <div class="hero__animation-contents">
                            {{ block.settings.subheading | escape }}
                          </div>
                        </div>
                      {%- endunless -%}
                      {%- if block.settings.link_text != blank or block.settings.link_text_2 != blank -%}
                        <div class="hero__link">
                          {%- if block.settings.link_text != blank -%}
                            <a href="{{ block.settings.link }}" class="btn">
                              {{ block.settings.link_text }}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.link_text_2 != blank -%}
                            <a href="{{ block.settings.link_2 }}" class="btn">
                              {{ block.settings.link_text_2 }}
                            </a>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
                <div class="hero__sidebyside-image{% if block.settings.indent_image %} hero__sidebyside-image--indented{% endif %}">
                  {%- if block.settings.image != blank -%}
                    {%- if block.settings.link != blank -%}
                      <a href="{{ block.settings.link }}" class="hero__sidebyside-image-link" aria-hidden="true">
                    {%- endif -%}

                    {%- capture image_classes -%}
                      hero__image hero__image--{{ block.id }}
                    {%- endcapture -%}

                    {%- liquid
                      if forloop.index == 1
                        assign loading = section.settings.lazyload_images
                      else
                        assign loading = true
                      endif
                    -%}

                    {%- render 'image-element',
                      img: block.settings.image,
                      loading: loading,
                      classes: image_classes,
                      sizeVariable: '60vw',
                    -%}

                    {%- if block.settings.link != blank -%}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  </div>
{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.slideshow-split.name",
  "class": "index-section--hero",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.slideshow-split.settings.full_width.label",
      "default": true
    },
    {
      "type": "range",
      "id": "height",
      "label": "t:sections.slideshow-split.settings.height.label",
      "default": 650,
      "min": 450,
      "max": 750,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "height_mobile",
      "label": "t:sections.slideshow-split.settings.height_mobile.label",
      "default": 450,
      "min": 350,
      "max": 650,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.slideshow-split.settings.style.label",
      "default": "arrows",
      "options": [
        {
          "value": "minimal",
          "label": "t:sections.slideshow-split.settings.style.options.minimal.label"
        },
        {
          "value": "arrows",
          "label": "t:sections.slideshow-split.settings.style.options.arrows.label"
        },
        {
          "value": "bars",
          "label": "t:sections.slideshow-split.settings.style.options.bars.label"
        },
        {
          "value": "dots",
          "label": "t:sections.slideshow-split.settings.style.options.dots.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slideshow-split.settings.autoplay.label",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:sections.slideshow-split.settings.autoplay_speed.label",
      "default": 7,
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "lazyload_images",
      "label": "t:common.lazyload_images.label",
      "info": "t:common.lazyload_images.info",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow-split.blocks.slide.name",
      "settings": [
        {
          "type": "text",
          "id": "top_subheading",
          "label": "t:sections.slideshow-split.blocks.slide.settings.top_subheading.label"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.slideshow-split.blocks.slide.settings.title.label",
          "default": "Side by Side Slide"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "t:sections.slideshow-split.blocks.slide.settings.title_size.label",
          "default": 60,
          "min": 40,
          "max": 100,
          "unit": "px"
        },
        {
          "type": "textarea",
          "id": "subheading",
          "label": "t:sections.slideshow-split.blocks.slide.settings.subheading.label",
          "default": "Add optional subtext"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow-split.blocks.slide.settings.link.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.slideshow-split.blocks.slide.settings.link_text.label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "t:sections.slideshow-split.blocks.slide.settings.link_2.label"
        },
        {
          "type": "text",
          "id": "link_text_2",
          "label": "t:sections.slideshow-split.blocks.slide.settings.link_text_2.label"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "t:sections.slideshow-split.blocks.slide.settings.text_position.label",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow-split.blocks.slide.settings.text_position.options.left.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow-split.blocks.slide.settings.text_position.options.right.label"
            }
          ],
          "info": "t:sections.slideshow-split.blocks.slide.settings.text_position.info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow-split.blocks.slide.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "indent_image",
          "label": "t:sections.slideshow-split.blocks.slide.settings.indent_image.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:sections.slideshow-split.blocks.slide.settings.color_scheme.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.slideshow-split.blocks.slide.settings.color_scheme.options.none.label"
            },
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow-split.presets.split_optional_slides.name",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "title": "Side by side slide",
            "subheading": "Tailored for longer text and smaller images. Explain more about your promotion.",
            "text_position": "right",
            "color_scheme": "2"
          }
        },
        {
          "type": "slide",
          "settings": {
            "title": "Highlight products",
            "subheading": "Repurpose your product photography with our \"Indented\" image option",
            "text_position": "left",
            "color_scheme": "1",
            "indent_image": true
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
