{%- unless section.settings.full_width -%}
  <div class="page-width hero--padded">
{%- endunless -%}
  <div
    data-section-id="{{ section.id }}"
    data-section-type="slideshow-section">

    {%- if section.blocks.size > 0 -%}
      <div class="slideshow-wrapper">
        {%- if section.settings.autoplay and section.settings.style == 'bars' and section.blocks.size > 1 -%}
          {%- style -%}
            [data-bars][data-autoplay="true"] .flickity-page-dots .dot:after {
              animation-duration: {{ section.settings.autoplay_speed | times: 1000 }}ms;
            }
          {%- endstyle -%}

          <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
            <span class="slideshow__pause-stop">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pause" viewBox="0 0 10 13"><g fill="#000" fill-rule="evenodd"><path d="M0 0h3v13H0zM7 0h3v13H7z"/></g></svg>
              <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
            </span>
            <span class="slideshow__pause-play">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
              <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
            </span>
          </button>
        {%- endif -%}

        {%- assign natural_height_ratio = '60%' -%}
        {%- assign natural_height_ratio_mobile = '100%' -%}
        {%- for block in section.blocks limit: 1 -%}
          {%- if block.settings.image != blank -%}
            {%- capture natural_height_ratio -%}{{ 100 | divided_by: block.settings.image.aspect_ratio }}%{% endcapture %}
            {%- assign natural_height_ratio_mobile = natural_height_ratio -%}
          {%- endif -%}
          {%- if block.settings.image_mobile != blank -%}
            {%- capture natural_height_ratio_mobile -%}{{ 100 | divided_by: block.settings.image_mobile.aspect_ratio }}%{% endcapture %}
          {%- endif -%}
        {%- endfor -%}

        {%- style -%}
          .hero-natural--{{ section.id }} {
            height: 0;
            padding-bottom: {{ natural_height_ratio | plus: section.settings.desktop_size }}%;
          }

          @media screen and (max-width: 768px) {
            .hero-natural--{{ section.id }} {
              padding-bottom: {{ natural_height_ratio_mobile | plus: section.settings.mobile_size }}%;
            }
          }
        {%- endstyle -%}

        <div class="hero-natural--{{ section.id }}">
          <div id="Slideshow-{{ section.id }}"
            class="hero hero--{{ section.id }} loading loading--delayed"
            data-natural="true"
            data-autoplay="{{ section.settings.autoplay }}"
            data-speed="{{ section.settings.autoplay_speed | times: 1000 }}"
            {% if section.settings.style == 'arrows' %}
              data-arrows="true"
            {% endif %}
            {% if section.settings.style == 'dots' %}
              data-dots="true"
            {% endif %}
            {% if section.settings.style == 'bars' %}
              data-dots="true"
              data-bars="true"
            {% endif %}
            data-slide-count="{{ section.blocks.size }}">
            {%- for block in section.blocks -%}
              <div
                {{ block.shopify_attributes }}
                class="slideshow__slide slideshow__slide--{{ block.id }}"
                data-index="{{ forloop.index0 }}"
                data-id="{{ block.id }}">
                {%- style -%}
                  .slideshow__slide--{{ block.id }} .hero__title {
                    font-size: {{ block.settings.title_size | times: 0.43 }}px;
                  }
                  @media only screen and (min-width: 769px) {
                    .slideshow__slide--{{ block.id }} .hero__title {
                      font-size: {{ block.settings.title_size }}px;
                    }
                  }

                  {%- assign button_alpha = block.settings.color_accent | color_extract: 'alpha' -%}
                  {% unless button_alpha == 0.0 %}
                    .slideshow__slide--{{ block.id }} .btn {
                      background: {{ block.settings.color_accent }} !important;
                      border: none;

                      {%- assign accent_brightness = block.settings.color_accent | color_extract: 'lightness' -%}

                      {% if accent_brightness > 40 %}
                        color: #000 !important;
                      {% endif %}
                    }
                  {% endunless %}

                  {% if block.settings.overlay_opacity > 0 %}
                    .slideshow__slide--{{ block.id }} .hero__image-wrapper:after {
                      content: '';
                      position: absolute;
                      left: 0;
                      right: 0;
                      top: 0;
                      bottom: 0;
                      z-index: 3;
                      background-color: #000;
                      opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
                    }
                  {% endif %}
                {%- endstyle -%}

                {%- liquid
                  assign hero_text = false
                  if block.settings.top_subheading != blank or block.settings.title != blank or block.settings.subheading != blank or block.settings.link_text != blank
                    assign hero_text = true
                  endif

                  assign has_mobile_image = false
                  if block.settings.image_mobile != blank
                    assign has_mobile_image = true
                  endif
                -%}

                <div
                  class="hero__image-wrapper {% unless hero_text %} hero__image-wrapper--no-overlay{% endunless %}"
                >
                  {%- if block.settings.image != blank -%}
                    {% capture image_classes %}
                      hero__image hero__image--{{ block.id }}
                      {% if has_mobile_image %} small--hide{% endif %}
                    {% endcapture %}

                    {% comment %} Full width images so don't need to adjust sizes attribute, fallback is 100vw {% endcomment %}
                    {%- liquid
                      if forloop.index == 1
                        assign loading = section.settings.lazyload_images
                      else
                        assign loading = true
                      endif
                    -%}
                    {%- render 'image-element',
                      img: block.settings.image,
                      loading: loading,
                      classes: image_classes,
                    -%}
                    {%- if has_mobile_image -%}
                      {% capture image_classes %}
                        hero__image hero__image--{{ block.id }} medium-up--hide
                      {% endcapture %}
                      {%- render 'image-element',
                        img: block.settings.image_mobile,
                        loading: loading,
                        classes: image_classes,
                      -%}
                    {%- endif -%}
                  {%- else -%}
                    {%- if template == 'password' -%}
                      {%- assign password_image = 'password-page-background.jpg' -%}
                      {%- render 'image-element',
                        asset: password_image,
                        host: 'theme',
                        loading: section.settings.lazyload_images,
                        type: 'asset',
                        classes: 'hero__image',
                      -%}
                    {%- else -%}
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  {%- endif -%}
                </div>

                {%- if block.settings.link != blank and block.settings.link_2 == blank -%}
                  <a href="{{ block.settings.link }}" class="hero__slide-link" aria-hidden="true"></a>
                {%- endif -%}

                {%- if hero_text -%}
                  <div class="hero__text-wrap">
                    <div class="page-width">
                      <div class="hero__text-content {{ block.settings.text_align }}">
                        <div class="hero__text-shadow">
                          {%- unless block.settings.top_subheading == blank -%}
                            <div class="hero__top-subtitle">
                              <div class="hero__animation-contents">
                                {{ block.settings.top_subheading | escape }}
                              </div>
                            </div>
                          {%- endunless -%}
                          {%- unless block.settings.title == blank -%}
                            <h2 class="h1 hero__title">
                              <div class="hero__animation-contents">
                              {{ block.settings.title | newline_to_br }}
                              </div>
                            </h2>
                          {%- endunless -%}
                          {%- if block.settings.subheading or block.settings.link or block.settings.link_2 -%}
                            {%- unless block.settings.subheading == blank -%}
                              <div class="hero__subtitle">
                                <div class="hero__animation-contents">
                                  {{ block.settings.subheading | escape }}
                                </div>
                              </div>
                            {%- endunless -%}
                            {%- if block.settings.link_text != blank or block.settings.link_text_2 != blank -%}
                              <div class="hero__link">
                                {%- if block.settings.link_text != blank -%}
                                  <a href="{{ block.settings.link }}" class="btn{% if block.settings.color_accent contains 'rgba(0,0,0,0)' %} btn--inverse{% endif %}">
                                    {{ block.settings.link_text }}
                                  </a>
                                {%- endif -%}
                                {%- if block.settings.link_text_2 != blank -%}
                                  <a href="{{ block.settings.link_2 }}" class="btn{% if block.settings.color_accent contains 'rgba(0,0,0,0)' %} btn--inverse{% endif %}">
                                    {{ block.settings.link_text_2 }}
                                  </a>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  </div>
{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "class": "index-section--hero",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.slideshow.settings.full_width.label",
      "default": true
    },
    {
      "type": "range",
      "id": "desktop_size",
      "label": "t:sections.slideshow.settings.desktop_size.label",
      "default": 0,
      "min": -100,
      "max": 100,
      "step": 10,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "mobile_size",
      "label": "t:sections.slideshow.settings.mobile_size.label",
      "default": 0,
      "min": -100,
      "max": 100,
      "step": 10,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.slideshow.settings.style.label",
      "default": "arrows",
      "options": [
        {
          "value": "minimal",
          "label": "t:sections.slideshow.settings.style.options.minimal.label"
        },
        {
          "value": "arrows",
          "label": "t:sections.slideshow.settings.style.options.arrows.label"
        },
        {
          "value": "bars",
          "label": "t:sections.slideshow.settings.style.options.bars.label"
        },
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.style.options.dots.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slideshow.settings.autoplay.label",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:sections.slideshow.settings.autoplay_speed.label",
      "default": 7,
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "lazyload_images",
      "label": "t:common.lazyload_images.label",
      "info": "t:common.lazyload_images.info",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "hero",
      "name": "t:sections.slideshow.blocks.hero.name",
      "settings": [
        {
          "type": "text",
          "id": "top_subheading",
          "label": "t:sections.slideshow.blocks.hero.settings.top_subheading.label"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.slideshow.blocks.hero.settings.title.label",
          "default": "<p>Overlaid Hero Slide</p>"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "t:sections.slideshow.blocks.hero.settings.title_size.label",
          "default": 70,
          "min": 40,
          "max": 100,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.slideshow.blocks.hero.settings.subheading.label",
          "default": "And optional subtext"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.hero.settings.link.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.slideshow.blocks.hero.settings.link_text.label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "t:sections.slideshow.blocks.hero.settings.link_2.label"
        },
        {
          "type": "text",
          "id": "link_text_2",
          "label": "t:sections.slideshow.blocks.hero.settings.link_text_2.label"
        },
        {
          "type": "color",
          "id": "color_accent",
          "label": "t:sections.slideshow.blocks.hero.settings.color_accent.label",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "t:sections.slideshow.blocks.hero.settings.text_align.label",
          "default": "vertical-bottom horizontal-left",
          "options": [
            {
              "value": "vertical-center horizontal-left",
              "label": "t:sections.slideshow.blocks.hero.settings.text_align.options.vertical-center_horizontal-left.label"
            },
            {
              "value": "vertical-center horizontal-center",
              "label": "t:sections.slideshow.blocks.hero.settings.text_align.options.vertical-center_horizontal-center.label"
            },
            {
              "value": "vertical-center horizontal-right",
              "label": "t:sections.slideshow.blocks.hero.settings.text_align.options.vertical-center_horizontal-right.label"
            },
            {
              "value": "vertical-bottom horizontal-left",
              "label": "t:sections.slideshow.blocks.hero.settings.text_align.options.vertical-bottom_horizontal-left.label"
            },
            {
              "value": "vertical-bottom horizontal-center",
              "label": "t:sections.slideshow.blocks.hero.settings.text_align.options.vertical-bottom_horizontal-center.label"
            },
            {
              "value": "vertical-bottom horizontal-right",
              "label": "t:sections.slideshow.blocks.hero.settings.text_align.options.vertical-bottom_horizontal-right.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.hero.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.slideshow.blocks.hero.settings.image_mobile.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:sections.slideshow.blocks.hero.settings.overlay_opacity.label",
          "info": "t:sections.slideshow.blocks.hero.settings.overlay_opacity.info",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.hero_optional_slides.name",
      "blocks": [
        {
          "type": "hero",
          "settings": {
            "title": "<p>Overlaid Hero Slide</p>",
            "subheading": "Perfect for rich lifestyle photography.",
            "text_align": "vertical-bottom horizontal-left"
          }
        },
        {
          "type": "hero",
          "settings": {
            "title": "<p>Make an Impact</p>",
            "subheading": "Supports multiple text alignments and mobile-specific images.",
            "text_align": "vertical-center horizontal-center"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
